<!-- blocks/home-layout-bottom.html -->
<div class="max-w-7xl mx-auto px-0">
    <!-- 12-column grid -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">

        <!-- MAIN CONTENT (Center) -->
        <section class="lg:col-span-9 flex flex-col">

            <section class="w-full mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:gap-x-8 lg:border-e border-gray-200 px-0 lg:px-4">
                    <div data-include="blocks/widgets/category-grids.html" class="contents"></div>
                </div>
            </section>

        </section>

        <!-- RIGHT SIDEBAR -->
        <aside class="lg:col-span-3 flex flex-col gap-5">

            <!-- FAAPA Block -->
            <div data-include="blocks/widgets/right-faapa.html"></div>

            <!-- Whatsapp channel Block -->
            <div data-include="blocks/widgets/right-wa-channel.html"></div>

            <!-- Ads vertical Block -->
            <div data-include="blocks/widgets/right-ads-vertical-1.html"></div>

            <!-- Live Radio Stream Block -->
            <div data-include="blocks/widgets/right-radio-stream.html"></div>

            <!-- Ads vertical Block -->
            <div data-include="blocks/widgets/right-ads-vertical-2.html"></div>

        </aside>

    </div>
</div>
